
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,500;0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
     font-family: 'Roboto', sans-serif;
     background-color: var(--clr-Very-Dark-Blue);
     margin: auto;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height:100vh;
     width:100%;
}


*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
}

html{
    font-size: 16px;
}

:root{
    --clr-White: hsl(0, 0%, 100%);
    --clr-Light-Grey: hsl(217, 12%, 63%);
    --clr-Medium-Grey: hsl(216, 12%, 54%);
    --clr-Dark-Blue: hsl(213, 19%, 18%);
    --clr-Very-Dark-Blue: hsl(216, 12%, 8%);
    --clr-Orange:hsl(25, 97%, 53%);

    
    --box-shadow:0px 22px 12px rgba(0,0,0,0.15);


}
/* global css */

img{
    height:auto

}
.star{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--clr-Light-Grey);
    border:none;
}
.star-icon{
     width: 30px;
     display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 0.3rem;
}
.section{
    width:28rem;
    background-color: var(--clr-Dark-Blue);
    height: 26rem;
    border-radius: 10px;
    padding: 2rem;
}
.question{
    color: var(--clr-White);
}
.answer{
    color: var(--clr-White);
}
.buttons{
   padding:  2rem 0;
   gap:2rem;
   display: flex;
   justify-content: space-between;
}
.btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--clr-Light-Grey);
    color: var(--clr-Very-Dark-Blue);
    border:none;
    font-weight: 700;
}

.btn:hover {
    background-color: orange;
    color: var(--clr-White);
    transition: 0.30s;
  }
  

.submit,.rate-btn{
    width:24rem;
    height: 2rem;
    border-radius: 30px;
    background-color:var(--clr-Orange);
    color:var(--clr-White);
    border: none;
}

.submit:hover {
    background-color: var(--clr-White);
    color: var(--clr-Orange);
    transition: 0.3s;
  }
  
/*section 1*/

.section-1{
    margin-top: 1rem;
    width:28rem;
    background-color: var(--clr-Dark-Blue);
    height: 26rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

}
.card{
    background-color:var(--clr-Medium-Grey);
    height: 2rem;
    width: 18rem;
    border-radius: 30px;
    border: none;
    margin: auto;
}
.line{
text-align: center;
margin: 0.5rem auto; 
color: var(--clr-Orange);
}

.ima{
    padding: 2rem;
}

.ima-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.question1{
    text-align: center;
    color: var(--clr-White);
}


.answer1{
    text-align: center;
    color:var(--clr-White);
    font-size: 600;
}
.ok{
    text-align: center;
}

.hidden {
    display: none;
  }
  
